* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Josefin Sans', sans-serif;
  /* background: #73D6FF; */
  color: #fff;
  font-weight: 600;
}

p, html {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

html {
  scroll-behavior: smooth;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#top {
 position: relative;
 background: #1F4C73;
 background-image: linear-gradient(to right top, #1f4c73, #00719a, #0099ba, #00c2d0, #12ebdb);
}
.center-bottom {
  background-image: url("../img/svg/bottom.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
.top-right {
  background-image: url("../img/svg/top-right-corner.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top right;
}
/* header */
header {
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  position: relative;
  display: block;
}

/* .fixed-top {
  top: 0;
} */

/* sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #1F4C73;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* border-right: 1px inset #73D6FF; */
  box-shadow: 2px 8px 8px #73D6FF;
}
.sidebar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sidebar-brand {
  width: 5%;
  position: absolute;
  top: 2%;
  left: 0;
}
.sidebar-brand img, .navbar-brand img {
  border-radius: 50%;
  opacity: 0.8;
}
.sidebar-icon {
  width: 100%;
  background: #225480;
  padding: 3rem 0 3rem 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* bottom: 25%; */
}
.sidebar-icon a {
  margin-left: 1.5rem;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

/* sidebar social icon */
.fab {
  color: #fff;
  font-size: 0.85rem;
  font-weight: normal;
}
.fa-times {
  font-size: .90rem;
}
.fa-share-alt.nav-left {
  color: #1F4C73;
}
/* sidebar content push */
#container-push {
  transition: margin-left .5s;
  padding: 0;
}

/****** navbar ********* */
.navbar {
  padding: 1.5rem 0;
  background: none !important;
  /* opacity: 0.1; */
}
.navbar .navbar-nav li a {
  color: #1F4C73 !important;
  text-transform: uppercase;
  font-size: .90rem ;
}
.navbar-toggler .sidebar-toggler {
  border: none;
}
.navbar-toggler {
  padding: .25rem 1.2rem .25rem 0;
}
.navbar-light .navbar-toggler-icon .sidebar-toggler {
  background-image: none;
}
/* nabvar hire-me button */
.btn {
  background: #1F4C73;
  color: #fff;
  border: none;
  margin: 0;
  padding: .37rem 1.5rem;
  font-size: 0.90rem;
}
.fas {
  color: #fff;
  margin-left: 1rem;
}

/******** content section ***********/
#title-wrap #about-me {
    display: block;
    position: relative;
  }
#title-wrap .container {
  position: relative;
  padding: 2rem 0 3rem;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 72vw;
  /* height: calc(93vh - 7vh); */
}
#title-head {
  padding: 1em 0;
  /* padding: 5em 0;
  padding-bottom: 15rem; */
}
.hello {
  font-family: 'Josefin Sans', cursive;
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
}
.im-olaskee {
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  font-stretch: expanded;
  text-align: left;
  padding-top: 1rem;
}
.olaskee {
  font-size: 5rem;
  padding-left: 0.80rem;
}
/* animation css */
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}
.title-desc {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 0.90rem;
  margin-top: -0.50rem;
  text-align: left;
  color: #73D6FF;
}
.title-button {
  margin-top: 7rem;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0;
}
.btn-work {
  background: #1F4C73;
  color: #fff;
  border: none;
  padding: .55rem 1.5rem;
  font-weight: normal;
  border-radius: 5px;
}
.btn-work:hover {
  background: #73D6FF;
  color: #1F4C73;
  border-color: none;
}
.btn-contact {
  background: none !important;
  color: #fff;
  border: 1px solid #73D6FF;
  padding: .55rem 1.5rem;
  margin-left: 1rem;
  font-weight: normal;
  border-radius: 5px;
}
.btn-contact:hover {
  border-color: #1F4C73;
}

/*########### middle section ##########*/
 #about-me,
 #how-i-can-help  {
    display: block;
    position: relative;
    background: #f7fbfc;
    color: #eee;
    padding: 1em 0 5rem;
  }
  /* #about-me,
  #how-i-can-help  {
    ;
  } */

  #about-me > .container-fluid,
  #how-i-can-help > .container-fluid  {
    width: 50vw;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
  }
  .circle-shape-2 {
    width: 15%;
    position: absolute;
    top: 40%;
    left: -15%;
    transform: translate(40%, -15%);
    opacity: 0.7;
  }
  .curve-shape {
    width: 15%;
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(5%, 5%);
    opacity: 0.1;
  }

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.about-head {
  padding: 5em 0 2em 0;
  text-align: center;
}
.about-head figure img {
  width: 15%;
  margin-bottom: 1rem;
}
.about-head h1 {
  font-size: 5em;
  font-family: aria, 'Montserrat','Josefin Sans', sans-serif;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
  position: relative;
  margin-bottom: -0.8em;
  text-align: center;
}
.about-head h2 {
  font-size: 1.5rem;
  font-family: 'Pompiere', 'Josefin Sans', sans-serif;
  color: #06b3b3;
  font-weight: 400;
  position: absolute;;
  left: 50%;
  transform: translate(-50%);
}
/* .about-desc {
  width: 35vw;
  margin: 0 auto;
} */
.about-desc p {
  margin: 5em 0;
  padding-top: 1rem;
  color: #01233F;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1rem;
  /* font-weight: 600; */
  /* opacity: 0.8; */
}
.nickname {
  color: #1F4C73;
  font-weight: bold;
  font-stretch: extra-condensed;
}

/*--------------------------
     what i can do
---------------------------*/


.what-i-can-do {
  /* max-width: 60vw;
  margin: 0 auto; */
  display: block;
  position: relative;
  padding: 0 15px;
}
.what-i-can-do h2 {
  font-size: 3.5rem;
  font-family: 'Pompiere', 'Josefin Sans', sans-serif;
  color: #06b3b3;
  font-weight: normal;
  text-align: center;
  padding: 0.5em 0 0.5em;
  font-stretch: extra-expanded;
}

.design-tool, .developer-tool {
  width: 50%;
  position: relative;
}
.design-tool {
top: 30%;
left: 20%;
transform: translate(-30%, -20%);
}
.developer-tool {
  top: 50%;
  left: 60%;
  transform: translate(-30%, -60%);
}
.design-desc h2 {
  font-size: 1.5rem;
  font-family: 'Pompiere', 'Josefin Sans', sans-serif;
  color: #06b3b3;
  font-weight: 400;
  position: absolute;;
  left: 8%;
  transform: translate(-8%);
  margin-bottom: 2rem;
}
.design-desc p {
  /* padding: 5em 0; */
  color: #01233F;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  text-align: justify;
  font-size: 1rem;
  padding: 3rem 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

/*---------------------------
        Work section
------------------------------ */

#work {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: #fff;
  /* background: #1F4C73;
  background-image: linear-gradient(to right top, #1f4c73, #00719a, #0099ba, #00c2d0, #12ebdb); */
}
/* #work > .container-fluid {
  width: 70vw;
} */
.work-title {
  font-size: 3.2rem;
  font-family: 'Pompiere', 'Josefin Sans', sans-serif;
  color: #06b3b3 /*#fff*/;
  font-weight: semi-bold;
  text-align: center;
  padding: 5rem 0 0.5em;
  font-stretch: extra-expanded;
}
 #work > .container-fluid p {
  color: #01233F;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0 5rem;
}
.afroplaces {
  background: #ea5455;
}
.ufk {
  background: purple;
}
.swantail {
  background: #AC2B55;
}
.djsplash {
  background: #000;
}
.col-lg-4, .col-md-4, .col-sm-6, .col-xs-12 {
  margin: 0;
  padding: 0;
}
.hovereffect {
  width: 100%;
  height: 280px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}
.swantail {
  background: #AC2B55;
  background-image: url("../img/swantail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nikeart {
  background: #fff;
  background-image: url("../img/nike-art-gallery.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.djsplash {
  background: #fff;
  background-image: url("../img/djsplash.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 14px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 120px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/********************************
      How i can help
********************************/
/* #how-i-can-help {
   display: block;
   position: relative;
   background: #f7fbfc;
   color: #eee;
   text-align: center;
   padding: 1em 0 5rem;
 }

#how-i-can-help > .container-fluid {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
} */

#how-i-can-help {
text-align: center;
background: #fff;
}

.help-title {
  font-size: 3.2rem;
  font-family: 'Pompiere', 'Josefin Sans', sans-serif;
  color: #06b3b3 /*#fff*/;
  font-weight: 500;
  text-align: center;
  padding: 6rem 0 0.5em;
  font-stretch: extra-expanded;
}
.subtitle {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #06b3b3;
  font-weight: 500;
}
.help-desc p {
  margin: 3em 0;
  color: #01233F;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1rem;
  /* font-weight: 600; */
  /* opacity: 0.8; */
}
.help-button {
  margin-top: 4rem;
}

#footer {
    min-width: 100%;
    /* height: 100vh; */
    position: relative;
    background-image: url("../img/Group 5.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}
#footer > .container-fluid {
  margin: 0;
  padding: 0;
  /* background: red;
  height: 100vh; */
}
#footer h1 {
    font-size: 2.2rem;
    font-family: 'Poiret One', 'Josefin Sans', sans-serif;
    color: /*#06b3b3*/ #fff;
    font-weight: bold;
    text-align: center;
    padding: 18rem 0 0.5em;
    font-stretch: extra-expanded;
}
.footer-desc {
  width: 40vw;
  margin: 1.2rem auto;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  /* font-weight: 600; */
  opacity: 0.8;
}
#footer > .row {
  width: 80vw;
  margin: 5rem auto 0;
  padding-bottom: 5rem;
}
.social {
  text-align: center;
  /* border: 2px solid yellow; */
}
.social:hover {
  /* color: #6fe7dd; */
  border-bottom: 2px solid #6fe7dd;
  transition: all 0.5s ease-in-out;
}
.fa-facebook-f.faceb,
.fa-behance.be,
.fa-instagram.ins,
.fa-dribbble.drib {
  margin: 1rem auto 0;
  font-size: 2rem;
}
.faceb:hover, .be:hover, .ins:hover, .drib:hover {
  color: #6fe7dd;
  transition: all 0.2s ease-in-out;
}

.social p {
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 0;
}

#credit {
  background: #1F4C73;
  text-align: center;
  padding: 3rem 0;
}
#credit h2 {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#credit p {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #6fe7dd;
}

/* media query */

@media only screen and (max-width: 992px ) {
  #about-me > .container-fluid,
  #how-i-can-help > .container-fluid {
    width: 80vw;
    margin: 0 auto;
  }
  .footer-desc {
    width: 80vw;
}
  .center-bottom {
    padding-bottom: 10em;
  }

  .fa-bars.hamburger {
    color: #1F4C73;
  }
  header {
    padding: 1.2rem 0;
  }
/* navbar responsive */
  .navbar-nav {
    padding: 0;
    margin: 0;
  }
  /* custom bootstrap collapse css */
  .collapse {
    background: #1F4C73 !important;
    background-image: linear-gradient(to right top, #1f4c73, #00719a, #0099ba, #00c2d0, #12ebdb);
    padding: 2rem 0;
  }
  .collapse .navbar-nav li a {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    color: #fff !important;
  }
  /* responsive hire-me button */
  .btn {
    background: #73D6FF;
    margin: 0.5rem 0 0.5rem 2.3rem;
  }
  .sidenav {
    background: #1F4C73;
  }
  .hello {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .im-olaskee {
    text-align: center;
    font-size: 3.5rem;
  }
  .title-desc {
    text-align: center;
    font-size: 0.80rem;
  }
  .title-button {
    text-align: center;
  }
  .avatar {
    display: none;
  }
  #title-head {
    padding: 5em 0;
  }
}
@media only screen and (min-width: 360px) {
  .top-right {
    background-size: 43%;
  }
}
@media only screen and (min-width: 600px) {
  .top-right {
    background-size: 30%;
  }
}
@media only screen and (min-width: 760px) {
  /* .what-i-can-do h2 {
    font-size: 3.2rem;
  } */
  .top-right {
    background-size: 25%;
  }
}
@media only screen and (min-width: 990px) {
  #title-head {
      padding: 8em 0 18em;
  }
  .top-right {
    background-size: 20%;
  }
/* navbar centered */
.navbar .navbar-nav li a {
  color: #1F4C73 !important;
  text-transform: uppercase;
  font-size: .90rem ;
}
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .navbar-right {
    position: absolute;
    right: 2%;
    transform: translate(-2%);
  }
  .navbar .navbar-brand {
    display: none;
  }
  #title-head {
      padding: 5em 0;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1999px) {
  .center-bottom {
    padding-bottom: 10em;
  }
}
@media only screen and (max-width: 720px) {
  .what-i-can-do h2 {
      font-size: 3.2rem;
  }
  .design-tool {
    width: 50%;
    padding-bottom: 8rem;
    left: 50%;
    transform: translate(-50%);
  }
  .developer-tool {
    left: 40%;
    /* transform: translate(-40%); */
  }
  .design-desc p {
    text-align: center;
  }
  .design-desc h2 {
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .about-desc p, .help-desc p {
    font-size: 0.9rem;
  }
  .center-bottom {
    padding-bottom: 5em;
  }
  #footer h1 {
      padding-top: 18rem;
  }
}
@media only screen and (min-width: 360px){
  .center-bottom {
    margin: 0 0 -0.8em -0.5em;
  }
}
@media only screen and (max-width: 500px) {
  .title-button {
    display: none;
  }
  .im-olaskee, .olaskee {
    font-size: 2.80rem;
  }
  .title-desc {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 1200px) {

  .center-bottom {
    padding-bottom: 15em;
  }
  .avatar {
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 0;
  }
}
/* On smaller screens, where height is less than 450px,
change the style of the sidenav
(less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
